*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
}
/*td{*/
/*    cursor: pointer;*/
/*done by bootstrap's role="button" attribute*/
/*}*/
tr:hover>td{
    background-color:blue;
    color:white;
}